{{#if courses.length}}
    {{#each courses}}
        <div class="card" style="box-shadow: 0 0 30px rgba(0, 0, 0, .4); margin-bottom: 20px;">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{image}}"
                     style="height: 100%; max-height: 200px;
                            object-fit: contain;
                            border-bottom: 1px solid lightgray;">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"
                      style="text-transform: uppercase; font-weight: bold;">
                        {{title}} <span class="price" style="font-weight: 400; font-style: italic;">{{price}}</span>
                    <i class="material-icons right" style="font-weight: 400; text-transform: none;">Course</i>
                </span>
                <a class="waves-effect waves-light btn" href="/courses/{{id}}">Buy</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{title}} Course
                    <i class="material-icons right" style="font-style: normal">X</i>
                </span>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>There's no courses yet</p>
{{/if}}

